<h1>schedule</h1>
<h3><%= @train.name() %></h3>
<h5><%= @city.name() %></h5>
<h5><%= @schedule.time() %></h5>

<form class="" action="/operator/train/<%= @train.id() %>" method="post">


  <label for="city">cities</label>
  <select class="form-control" required name="city">
    <option></option>
    <% if @cities.any?() %>
      <%@cities.each() do |city|%>
        <% if(city.id() == @schedule.city_id) %>
        <option value="<%= city.id() %>" selected><%= city.name() %></option>
        <% else%>
        <option value="<%= city.id() %>"><%= city.name() %></option>
        <%end%>
      <% end %>
    <% end %>
  </select>

  <label for="time">time</label>
  <select class="form-control" name="time">
    <% (0..23).each() do |i| %>
    <% if i <10
      hour = "0" + i.to_s()
    else
      hour = i.to_s()
    end  %>
      <option><%= hour %>:00</option>
      <option><%= hour %>:30</option>
    <% end %>
  </select>

  <button type="submit" class="btn btn-default">Update Schedule</button>
  <a class="btn btn-default" href="/operator">back</a>
</form>
